<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
    <div class="footer" th:fragment="footer">
        <div class="bg-light d-flex justify-content-center align-items-center">
            <small class="text-center">
                <i class="fas fa-copyright"></i> 2018 <span th:text="${title}">Test Website</span>, all rights reserved | Source code of this website is avaiable on my <a href="https://github.com/Polprzewodnikowy/website"><i class="fab fa-github"></i> GitHub repository</a>
            </small>
        </div>
    </div>
</body>
</html>