<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/style.css}" href="../../static/style.css"/>
</head>
<body>
<div th:fragment="header">
    <nav class="header navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="" th:href="@{/}">
                <img src="../../static/favicon.ico" th:src="@{/favicon.ico}" width="32" height="32">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mx-2" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active font-weight-bold text-primary' : ''}">
                        <a class="nav-link" href="../index.html" th:href="@{/}">Home</a>
                    </li>

                    <li class="nav-item mx-2" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/blog') ? 'active font-weight-bold text-primary' : ''}">
                        <a class="nav-link" href="../blog.html" th:href="@{/blog}">Blog</a>
                    </li>

                    <li class="nav-item mx-2" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/about') ? 'active font-weight-bold text-primary' : ''}">
                        <a class="nav-link" href="../about.html" th:href="@{/about}">About me</a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="https://github.com/Polprzewodnikowy"><i class="fab fa-github mr-1"></i> GitHub</a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="https://www.linkedin.com/in/mateuszfaderewski"><i class="fab fa-linkedin mr-1"></i> LinkedIn</a>
                    </li>
                </ul>

                <form class="form-inline" action="../search" th:action="@{/search}">
                    <input type="search" class="form-control mr-2 border-primary" placeholder="Search" name="q">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                </form>

                <ul class="navbar-nav ml-2">
                    <!--<li class="nav-item mx-1" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/user') ? 'active font-weight-bold text-primary' : ''}" th:if="${userInfo != null}">-->
                        <!--<a class="nav-link" th:href="@{/user}" href="../user.html" th:text="${userInfo.name}">TestUser</a>-->
                    <!--</li>-->

                    <li class="nav-item dropdown mx-1" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/user') ? 'active font-weight-bold text-primary' : ''}" th:if="${userInfo != null}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" th:text="${userInfo.name}">TestUser</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../blogAdd.html" th:href="@{/blog/add}">Add post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="../user.html" th:href="@{/user}">Setting</a>
                        </div>
                    </li>

                    <li class="nav-item mx-1">
                        <a class="nav-link" th:href="@{/{link}(link=${userInfo == null} ? 'login' : 'logout')}" href="../login.html" th:text="${userInfo == null} ? 'Log In' : 'Log Out'">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>