<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
    <div class="header" th:fragment="header" th:with="
        homeActive  = ${#httpServletRequest.getRequestURI() == '/'},
        blogActive  = ${#httpServletRequest.getRequestURI().startsWith('/blog')},
        aboutActive = ${#httpServletRequest.getRequestURI().startsWith('/about')},
        userActive  = ${#httpServletRequest.getRequestURI().startsWith('/user')}
    ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="" th:href="@{/}">
                    <img th:src="@{/images/favicon.ico}" width="32" height="32">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-2" th:classappend="${homeActive} ? 'active'">
                            <a class="nav-link" th:classappend="${homeActive} ? 'text-primary'" th:href="@{/}">Home</a>
                        </li>

                        <li class="nav-item mx-2" th:classappend="${blogActive} ? 'active'">
                            <a class="nav-link" th:classappend="${blogActive} ? 'text-primary'" th:href="@{/blog}">Blog</a>
                        </li>

                        <li class="nav-item mx-2" th:classappend="${aboutActive} ? 'active'">
                            <a class="nav-link" th:classappend="${aboutActive} ? 'text-primary'" th:href="@{/about}">About me</a>
                        </li>

                        <li class="nav-item mx-2">
                            <a class="nav-link" href="https://github.com/Polprzewodnikowy"><i class="fab fa-github mr-1"></i>GitHub</a>
                        </li>

                        <li class="nav-item mx-2">
                            <a class="nav-link" href="https://www.linkedin.com/in/mateuszfaderewski"><i class="fab fa-linkedin mr-1"></i>LinkedIn</a>
                        </li>
                    </ul>

                    <form class="form-inline" th:action="@{/search}">
                        <input type="search" class="form-control border-primary mr-2" placeholder="Search" name="q">
                        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                    </form>

                    <ul class="navbar-nav ml-2">
                        <li class="nav-item dropdown mx-1" th:classappend="${userActive} ? 'active'" th:if="${userInfo != null}">
                            <a class="nav-link dropdown-toggle" th:classappend="${userActive} ? 'text-primary'" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" th:text="${userInfo.name}"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/blog/add}">Add post</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/user}">Settings</a>
                            </div>
                        </li>

                        <li class="nav-item mx-1">
                            <a class="nav-link" th:href="@{/{link}(link=${userInfo == null} ? 'login' : 'logout')}" th:text="${userInfo == null} ? 'Log In' : 'Log Out'"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>