<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout.html}">
<head>
    <title>Blog - add entry</title>
</head>

<body>
    <div class="blog blog-add" layout:fragment="content">
        <div class="card card-body mx-auto justify-content-center border-primary">
            <form action="/blogAdd.html" th:action="@{/blog/add}" th:object="${entry}" method="post">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control border-primary" th:field="*{title}" id="entry-title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label>Contents</label>
                    <textarea class="form-control border-primary" th:field="*{body}" id="entry-body" placeholder="Contents"></textarea>
                </div>
                <button class="btn border-primary" type="submit">Add entry</button>
                <button class="btn border-primary" type="button" onclick="previewEntry();">Preview entry</button>
            </form>
        </div>

        <div class="entry card mt-2 mb-4 border-primary rounded invisible">
            <div class="card-header entry-title">
                <h3 id="preview-title"></h3>
            </div>
            <div class="card-body entry-contents" id="preview-body"></div>
        </div>
    </div>
</body>
</html>